

body {
    
  font-family: 'Cormorant Garamond', serif; 
    font-optical-sizing: auto;
    font-size: 17px;
    letter-spacing: -0.1px;
    font-weight: 400;
    line-height: 140%;


}

.portfolio {
    line-height:15px;
    font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(21, 23, 35, 0.68);
  letter-spacing: -0.15px;
display: inline;
  }

  .portfolio:hover {
    color: #445385;
    font-weight: 700 !important;

  }

  .link-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .tagcloud {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 20px;
  }

  .archive-tag {
    margin: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-color: #c8d2f3;
    padding: 2px 5px;
    border-radius: 4px;
    
  }

  .archive-tag:hover {
    background-color: #445385;
    color: #fafafa;
  }

  h3:hover {
    color: #445385;

  }

  .list-title {
    display: inline;
    margin-right: 4px;
  }